<form action="/maze" method="POST">
	<label for="width">Width:</label>
	<input id="width" type="text" name="width" />
  <br></br>
	<label for="height">Height:</label>
	<input id="height" type="text" name="height" />
  <br></br>
	<input type="submit" value="Submit" />
</form>