<link rel="stylesheet" type="text/css" href="stylesheets/mazing.css" />
<script src="javascripts/maze_builder.js"></script>
<div id="maze_container"></div>

<% if (w && h) { %>
  <script>
    let Maze = new MazeBuilder(<%=w%>, <%=h%>);
    Maze.display("maze_container");
  </script>
<% } %>

<div id="solve-btn">
  <button onclick="Maze.printAllPaths(Maze.getEntryPos(), Maze.getExitPos()); this.disabled=true;">Solve</button>
</div>

<div id="new-btn">
  <button onclick="window.location.reload()">Generate new maze</button>
</div>

<div id="back-btn">
  <input type="button" onclick="location.href='/'" value="Back" />
</div>



  